.CheckOutMainFlex{
  justify-content: space-between;
  margin: auto;
}
.FooterSimpleGrid{
  background-color: black;
  color: white;
  margin: auto;
}

.FooterMainBox{
  background-color: black;
  padding-bottom: 20px;
  padding-top: 20px;
}